body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* h1 */
.myh1 {
  font-size: 58px;
}

/* h2 */
.myh2 {
  font-size: 48px;
}

/* h3 */
.myh3 {
  font-size: 32px;
}

/* h4 */
.myh4 {
  font-size: 18px;
  font-weight: bold;
}

/* p */
.myp {
  font-size: 16px;
}


/* img main banner*/
.main-banner {
  width: 100%;
 display: block;
}

/* contact form button */
input[type=submit],
input[type=reset] {
  width: 60px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  background-color: #454141;
  color: #fff;
}


.history-page-main-text {
  padding: 10px;
  margin: 18px
}


/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* padding to the footer */
footer {
  text-align: center;
  padding: 25px;
}


/* contact us / container style */
.contactform-container {
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 10px;

}

/* column */
.contactform-column {
  float: left;
  width: 50%;
  margin-top: 10px;
  padding: 20px;
}

/* row */
.contactform-row:after {
  content: "";
  display: table;
  clear: both;
  margin: 0 auto;
}


/* Contact us form text box */
input[type=text],
select,
textarea {
  width: 100%;
  padding: 18px;
  border: 2px solid #909090;
  margin-top: 12px;
  margin-bottom: 32px;
  resize: vertical;
}

/* Openstreetmap - leafletjs map size*/
#map {
  height: 490px;
}


.card-group {
  display: grid;
  place-items: center;   
  margin: auto;
  gap: 20px;
  
}

.card {
  border: 1px solid #d4cfcf;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  
}

.card img {
  width: auto;
  height: 600px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-title {
  font-size: 1.2em;
  margin: 10px 0;
}


/* history page center */
.history-page-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* banner */
.banner-container {
  position: relative;
  max-width: auto;
  margin: 0 auto;
}

/* banner */
.banner-container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;

}


/* history page pictures container  */
.history-page-pictures {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;


}

/* history page pictures size and margin  */
.history-page-pictures img{
  width: 260px;
  height: 160px;
  margin: 10px;
}



/* historry page text container */
.history-page-text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

/* historry page text */
.history-page-text-box {
  padding: 10px;
  margin: 18px;
  font-family: Arial, sans-serif;
  width: 16%;
  flex: 1 1 160px;
  background-color: #edebeb;
}

/* visit page 7:5 ratio conainer */
.visit-page-container {
  flex-wrap: wrap;
  display: flex;
  gap: 60px;
 
}

/* visit page 7:5 ratio column */
.visit-page-column {
  width: 100%;
  height: auto;
  padding: 12px;

}

/* visit page 7:5 ratio column picture */
.visit-page-column img {
  border: 2px solid #c3bebe;
  width: 36%;
  border-radius: 8px 8px 0 0;
  
}

/* visit page colum 7*/
.visit-column-7 {
  flex: 7;
}

/*  visit page colum 5 */
.visit-column-5 {
  flex: 5;
}


@media (max-width: 768px) {
  .main-banner {
    width: 140%;
 
  }

  .visit-page-column img {
  
    width: 100%;
   
    
  }

  .myp {
    font-size: 10px;
  }


}
