
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* padding to the footer */
footer {
    text-align: center;  
    padding: 25px;
}


/* contact us / container style */
.container_contact {
    border-radius: 4px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* column */
  .column_contact {
    float: left;
    width: 50%;
    margin-top: 10px;
    padding: 20px;
  }
  
  /* row */
  .row_contact:after {
    content: "";
    display: table;
    clear: both;
  }


  /* Contact us form  */
  input[type=text], select, textarea {
    width: 100%;
    padding: 18px;
    border: 2px solid #909090;
    margin-top: 12px;
    margin-bottom: 32px;
    resize: vertical;
  }
  #map { height: 440px; }


    .card-group {
      margin: auto;
          gap: 20px;
      }
      .card {
          border: 1px solid #ccc;
          border-radius: 8px;
          padding: 16px;
          width: 200px;
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
          
      }
      .card img {
        width: auto;
        height: 600px;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
      }
      .card-title {
          font-size: 1.2em;
          margin: 10px 0;
      }

      @media (min-width: 200px) and (max-width: 590px) { 
        
        .card {
          max-width: 90%; 
          margin: 6px auto;
          border: 1px solid #ccc;
          border-radius: 8px;
          padding: 16px;
          width: auto;
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
         }

       .card img {
            width: auto;
            height: 400px;
            object-fit: cover;
            border-radius: 8px 8px 0 0;
          }
        
        }

        @media (min-width: 600px) and (max-width: 770px)  { 
        
          .card {
            max-width: 90%; 
            margin: 6px auto;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 16px;
            width: auto;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
           }
  
         .card img {
              width: auto;
              height: 400px;
              object-fit: cover;
              border-radius: 8px 8px 0 0;
            }
          
          }


          .historypagecenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
          }

          .historypagecontainer {
            position: relative;
            max-width: auto; /* Maximum width */
            margin: 0 auto; /* Center it */
          }
          
          .historypagecontainer .content {
            position: absolute; /* Position the background text */
            bottom: 0; /* At the bottom. Use top:0 to append it to the top */
            background: rgb(0, 0, 0); /* Fallback color */
            background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
            color: #f1f1f1; /* Grey text */
            width: 100%; /* Full width */
            padding: 20px; /* Some padding */
          }

          * {
            box-sizing: border-box;
       
          }
          
          .historypagecolumn {
            float: left;
            width: auto;
            gap: 8px;
            padding: 2px;
            
          }
          
          /* Clearfix (clear floats) */
          .historypagerow::after {
            content: "";
            clear: both;
            display: table;
            
          }
          .historypagerow img {
            width: auto;
            height: 218px;
            object-fit: cover;
            border-radius: 0px 0px 0 0;
          }
        
        
        
  