
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* padding to the footer */
footer {
    text-align: center;  
    padding: 25px;
}


/* contact us / container style */
.container_contact {
    border-radius: 4px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* column */
  .column_contact {
    float: left;
    width: 50%;
    margin-top: 10px;
    padding: 20px;
  }
  
  /* row */
  .row_contact:after {
    content: "";
    display: table;
    clear: both;
  }


  /* Contact us form  */
  input[type=text], select, textarea {
    width: 100%;
    padding: 18px;
    border: 2px solid #909090;
    margin-top: 12px;
    margin-bottom: 32px;
    resize: vertical;
  }
  